
:root{--font-detalhes: 'Fugaz One', cursive;

--font-titulos: 'Monoton', cursive;

--font-principal: 'Montserrat', sans-serif;}

body{
    font-family: var(--font-principal);
}

#cacaNiquel{
    height: 750px;
    background-color: rgb(255, 102, 0);
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
    border-radius: 30px;
    border: 10px double rgb(217, 255, 0);
        animation-name: cordaborda;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;  
        background-color: rgb(3, 0, 0);
    
}

@keyframes cordaborda {
  0%{border-color: red;}
  20%{border-color: orange;} 
  40%{border-color:yellowgreen;}
  60%{border-color:yellow;} 
  80%{border-color:rgb(255, 68, 99);}
  100%{border-color:rgb(50, 161, 205);}
}

@keyframes cordotexto {
    0%{color: red;}
    20%{color: orange;} 
    40%{color:yellowgreen;}
    60%{color:yellow;} 
    80%{color:rgb(255, 68, 99);}
    100%{color:rgb(50, 161, 205);}
  }

    h1{
        font-family: var(--font-titulos);
        font-size: 4rem;
        text-align: center;
        border: 20px dotted yellow;
        border-color: yellow;
        color: rgb(49, 203, 255);
        animation-name: cordaborda;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;  
        background-color: rgb(3, 0, 0);
    }

   

    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
    }

        img{
            height: 120px;
            padding: 20px;
            margin-right: 15px;
            border: 10px dotted red;
            border-color: red;
            border-radius: 25px;
            animation-name: cordaborda;
            animation-duration: 0.5s;
            animation-iteration-count: infinite;  
            background-color: rgb(255, 255, 255);
        }

    input{
        height: 80px;
        width: 80px;
        background-color: rgb(255, 0, 0);
        color: black;
        border-radius: 100px;
        font-family: var(--font-detalhes);
        font-size:  2rem;
        box-shadow: 0px 0px 5px 5px rgb(255, 251, 0);
        margin-top: 20px;
    }

        .title{
            display: flex;
            flex-direction: column;
            justify-content: middle;
            align-items: center;
        }

            #all{
                padding: 20px;
                border: 10px dotted limegreen;
                border-radius: 30px;
                margin-top: 20px;
                font-family: var(--font-detalhes);
                font-size: 30px;
                color: white;
                animation-name: cordotexto;
                animation-duration: 0.5s;
                animation-iteration-count: infinite;  
                background-color: rgb(3, 0, 0);
            }
